body {
  margin: 0;
  background: #121212;
  color: #eee;
  font-family: Arial;
  padding: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
}
input,
button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #333;
  box-sizing: border-box;
}
input {
  background: #111;
  color: #fff;
}
button {
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #333;
}
.small {
  width: auto;
  padding: 4px 8px;
}
.danger {
  background: #dc2626;
}
.success {
  background: #16a34a;
}
.row {
  display: flex;
  gap: 5px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.nominal {
  background: #2563eb;
  font-weight: bold;
}
.uang-cepat {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 8px;
}

.uang-cepat button {
  width: auto !important;
  flex: 1;
  margin: 0;
  min-width: 60px;
  padding: 8px;
}
#popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  max-width: 90%;
}

.popup-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.transaksi-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.transaksi-header h2{
    margin:0;
}

.ringkasan{
    text-align:right;
    font-size:22px;
    line-height:1.5;
    font-weight:600;
}
